<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/lib/jquery-easyui-1.5/jquery.min.js"></script>
    <script src="/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/lib/DateExtension.js"></script>
</head>
<body>
<% include head.ejs %>
<div style="overflow: hidden;zoom:1;width: 800px;margin: 0 auto">
        <div style="background-color: aliceblue;border: 3px solid #ccc;border-top: 0;box-shadow: 2px 2px 2px #ccc;border-radius: 10px">
            <div style="font-size:30px;color:white;width:100%;height:40px;background:#b2dba1">小说详情</div>
            <div style="width:100%;height:250px;">
                <div style="padding:25px">
                    <div style="float:left;margin-right: 20px;"><img src="<%=data.imgUrl%>" style="width: 200px;height: 220px;border-radius: 10px;"/></div>
                    <div style="width:400px;">
                        <h3 style="font-weight:bold"><%=data.name%></h3>
                        <h5>作者：<%=data.author%></h5>
                        <p>更新：<%=data.lastUpdateTime.toLocaleString()%></p>
                    </div>
                </div>
            </div>
            <div style="text-indent:25px;">简介：<%=data.description%></div>
        </div>
</div>
    <div style="width:1200px;margin: 16px auto;">
        <div style="border-radius:5px 5px 0 0;font-size:30px;color:white;width:100%;height:40px;background:#b2dba1">小说章节</div>
        <ul class="list-group">
            <%for(var item of data.sections){%>
                <li class="list-group-item col-sm-4 col-md-3 col-lg-3" style="height: 50px"><a style="color: #000000;font-weight: bold;" href="/viewsection?id=<%=data._id%>&index=<%=item.index%>"><%=item.name%></a></li>
            <%}%>
        </ul>
    </div>

</body>
</html>